.btn {
  border-radius: 0;
  font-weight: 700;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  &.btn-primary {
    background-color: $primary;
    color: #fff;
    border: 1px solid $lines;
    &:hover {
      cursor: pointer;
      border: 1px solid $primary-blue;
      background-color: $primary-blue;
    }
  }
  &.btn-promo-banner {
    background-color: #fff;
    color: $primary-blue;
    margin-top: 20px;
  }
}

.footer .block.newsletter .form.subscribe .actions .action.subscribe {
  border-radius: 0;
  font-weight: 700;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $primary;
  color: #fff;
  border: 1px solid $lines;
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $primary-blue;
  }
}

.products-grid .product-item-info .tocart.btn-cart {
  border-radius: 0 !important;
  font-weight: 700;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 20px !important;
  text-transform: uppercase;
  background-color: $primary;
  color: #fff;
  right: 0;
  border: 1px solid $lines;
  display: inline-block !important;
  text-align: center;
  float: unset !important;
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $primary-blue;
  }
}

.content-heading {
  text-align: left;
}

.viewall-link a {
  color: $primary-blue;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
  padding-right: 20px;
  font-weight: 600;
  position: relative;
  transition: 0.2s ease-in-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 5px;
    background-color: $primary-blue;
    right: 0;
    top: 50%;
    transition: 0.2s ease-in-out;
  }
  &:before {
    margin-top: -5px;
    transform: translate(-50%, 0) rotate(45deg);
  }
  &:after {
    margin-top: 1px;
    transform: translate(-50%, 0) rotate(-45deg);
  }
  &:hover {
    color: $primary;
    &:after,
    &:before {
      background-color: $primary;
    }
  }
}

.owl-carousel .owl-dots .owl-dot {
  span {
    border-radius: 0;
    transition: 0.2s ease-in-out;
    background-color: $primary-blue;
    width: 18px;
    height: 18px;
  }
  &.active span {
    background-color: $primary;
  }
  &:hover span {
    background-color: $primary;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $secondary-text;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $secondary-text;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $secondary-text;
}

.footer .block.newsletter .form.subscribe .form-group input[type="email"],
input[type="email"],
input[type="text"] {
  background-color: #fff;
  border: 1px solid $lines;
  border-radius: 0;
  height: 46px;
  line-height: 46px;
}

.owl-carousel {
  .owl-nav > div {
    opacity: 1;
    visibility: visible;
    border: none;
    color: $primary-blue;
    transition: 0.2s ease-in-out;
    i {
      font-size: 70px;
    }
    &.owl-prev {
      left: -70px !important;
    }
    &.owl-next {
      right: -70px !important;
    }
    &:not(.disabled):hover {
      cursor: pointer;
      color: $primary !important;
      background: none !important;
    }
  }
  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}