@media (min-width: 992px) {
	html:not(.search-open) .header.header1 .header-search-box .search-form .form-search{position:static;background:none;opacity:1;visibility:visible}
	html:not(.search-open) .header.header1 .header-search-box .search-form .form-search .search-close{display:none}
	html:not(.search-open) .header.header1 .header-search-box .search-form .form-search .form.minisearch{margin:0;padding:0;border:1px solid #222;border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px;-o-border-radius:40px}
	html:not(.search-open) .header.header1 .header-search-box .search-form .form-search .form.minisearch .input-text{font-size:13px;text-align:left;padding-left:30px;color:#878787}
	html:not(.search-open) .header.header1 .header-search-box .search-form.select-search .form-search .form.minisearch .search-select .search-toggle{font-size:14px;text-align:left;padding-left:30px;padding-right:30px;position:relative}
	html:not(.search-open) .header.header1 .header-search-box .search-form.select-search .form-search .form.minisearch .search-select .search-toggle:after{content:"";height:24px;width:1px;background-color:#878787;position:absolute;top:9px;right:0}
	html:not(.search-open) .header.header1 .table-icon-menu .search-form{display:none !important}
}
@media (min-width: 1200px) {
	html:not(.search-open) .header.header1 .header-search-box{max-width:90%;}
}
@media (min-width: 1400px) {
	html:not(.search-open) .header.header1 .header-search-box{max-width: 90%;}
}



@media only screen and (max-width: 768px) {
	.customer-account-wrapper .tab button {width: 100% !important;float: none !important;margin-right:0;margin-bottom:10px;}
}

@media (min-width: 1200px)
{
	.full-width-mega-menu .mega-menu-content .sub-menu .sub-menu
	{	display: flex !important;
	}
	.full-width-mega-menu .mega-menu-content .sub-menu .sub-menu li
	{	width: 50%; display: inline-block;
	}
	.full-width-mega-menu .mega-menu-content .sub-menu .sub-menu li a
	{	padding:0 5px !important; border: none !important; color: #000; font-size: 10px !important;
	}
}
@media screen and (max-width:1199px){
	.header:not(.header6):not(.header7) .megamenu-content .nav-tabs > li > a{color: #1b1464;background-color:#fff;}
	.header:not(.header6):not(.header7) .megamenu-content .nav-tabs > li.active > a{background-color: #1b1464;color:#fff;}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text .container{padding:15px 0 0 10px !important;}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text h2{font-size: 40px;line-height: 45px;}
	.header .account-links{display: none !important;}
}
@media screen and (max-width:767px){
	.header .mobile-box{display: flex; flex-direction: column;}
	.header .mobile-box .top-custom-link.right-block{float: none;order: 1;margin-top: -20px;}
	.header .mobile-box .quick-order-btn{float: none;order: 2;padding:1px 0;text-align: center;margin-bottom: 5px;line-height: 30px;}
	.header .mobile-box .quick-order-btn .link{float:right;padding:0;}
	.header .mobile-box .quick-order-btn .link:hover{color:#222222;}
	.header .quick-order-btn a.btn{margin-left: 0;padding:0 30px;}
	.header .top-header-content .top-middle-header{padding-top: 4px;padding-bottom: 2px;}
	.cms-home .about_section{padding-top: 20px;padding-bottom: 40px;}
	.cms-home .about_section .content-heading{margin-bottom: 13px;}
	.cms-home .about_section button.btn{margin-bottom: 20px}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text{top:0;}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text .container{padding:15px 0 0 10px !important;}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text h2{font-size: 20px;line-height: 24px;}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text p{display:none!important;}
	.cms-home .owl-carousel .owl-stage-outer .banner_inner_text .sop_now{padding: 0 20px;height: 34px;line-height: 34px;font-size: 14px;}
	.cms-home .promobanner .text.bottom-center{padding: 0 0 15px 0;}
	.cms-home .banner-button .btn.btn-promo-banner{min-width: 130px;padding: 0 10px;font-size:11px;}

	.greet.welcomes{bottom:0px;}
}