@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  html .theme-pearl.store-view-default .row {
    max-width: unset;
  }
  .content.container-v1 {
    margin: 0;
  }
  .owl-carousel .banner-item .content_slider {
    width: calc(100% - 30px);
  }
  .custom-slider .owl-controls {
    width: calc(100% - 30px);
  }
  .from-journal-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .theme-pearl.catalog-product-view .product.details-fullbox {
    .right-box,
    .left-box {
      padding: 0 30px;
    }
  }

  .theme-pearl.catalog-product-view .from-journal {
    padding: 45px 15px 80px !important;
  }

  .theme-pearl.catalog-product-view.page-layout-1column .product-info-main {
    width: 100%;
  }

  .theme-pearl.catalog-product-view.page-layout-1column .product.media {
    width: 60%;
    margin: 0 auto;
  }
  .theme-pearl.catalog-product-view .fotorama__wrap .wp-product-label {
    margin-left: 0;
  }

  .theme-pearl.catalog-product-view
    .page-wrapper
    .product-info-main
    .box-tocart
    button.action.primary.tocart,
  .theme-pearl.catalog-product-view.page-layout-1column
    .product-info-main
    .action.tocart {
    max-width: 100%;
    width: 100%;
  }

  .theme-pearl.product-page-v1 .box-tocart .actions {
    width: 100%;
  }

  .category-list-wrapper {
    margin-top: 15px;
  }

  .our-manifesto {
    padding-right: 0;
  }

  .content.container-v1 {
    padding: 0 30px;
  }
  html .theme-pearl.store-view-default .row {
    margin-right: -15px;
    max-width: unset;
  }

  .footer-v3.w h4 {
    margin: 30px 0 12px 0;
  }
  .footer-v3 .footer-social ul {
    justify-content: center;
  }
  .footer-v3.w .newsletter-subscribe .form-group {
    margin: 0 30px;
  }
  .footer-v3.w .newsletter-subscribe input.validate-email {
    max-width: 100%;
  }

  .owl-carousel .owl-stage-outer .banner-item > a {
    width: 20vw;
  }
  .cms-home-page-v1 .content_slider .custom_content {
    width: 80%;
  }

  :root html .wp-device-m .page-header-v1 .page-header .header.content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-wrapper .header.content .logo {
    height: unset;
  }
  :root .theme-pearl .page-wrapper .page-header .logo img {
    width: 140px;
  }

  .minisearch #search {
    opacity: 0;
  }

  :root .wp-device-s .page-header-v1 .page-header .header.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    .nav-toggle {
      top: unset;
      &:before {
        margin: 0;
      }
    }
    .logo {
      margin: 0 0 0 40px;
    }
  }

  .minisearch.active #search {
    position: absolute;
    left: 0;
    opacity: 1;
    width: 100vw;
    max-width: 100vw;
  }
}

@media (max-width: 568px) {
  .theme-pearl.catalog-product-view.page-layout-1column .product.media {
    width: 100%;
  }
}
